/* cssgrid ---------------------------------------------------------------- */

.x-cssgrid {

	/* layout self */
	margin: 0;
	border: 0;

	/* layout items */
	display: grid;
	align-content: start;
	align-items: start;
	overflow: hidden;
}

/* guides */

.x-cssgrid-guide {
	position: absolute;
	align-self: stretch;
	justify-self: stretch;
	display: grid;
	overflow: visible;
	z-index: 1; /* span = 3, overlay = 2, guide = 1 */
}

:where(.x-cssgrid-guide)[axis=x] { left: 0; width : 0; height: 100%; justify-self: end; border-right-width : 1px; }
:where(.x-cssgrid-guide)[axis=y] { top : 0; height: 0; width : 100%; align-self  : end; border-bottom-width: 1px; }

/* guide tips */

.x-cssgrid-tip {
	grid-area: 1 / 1;
	width: 0;
	border-color: #04a;
}

.x-cssgrid-tip:hover {
	border-color: #28f;
}

:where(.x-cssgrid-tip)[axis=x] {
	align-self: start;
	cursor: ew-resize;
	transform: scale(1, 2);
}

:where(.x-cssgrid-tip)[axis=y] {
	cursor: ns-resize;
	transform: scale(2, 1);
}

/* guide labels */

.x-cssgrid-label {
	grid-area: 1 / 1;
	justify-self: start;
	align-self: start;
	font-size: 75%;
	color: #333;
	cursor: pointer;
}

:where(.x-cssgrid-label)[axis=x] { margin: 3px -6px; transform: translate(-100%, 0); }
:where(.x-cssgrid-label)[axis=y] { margin: -3px 5px; transform: translate(0, -100%); }

/* span outlines */

.x-cssgrid-span {
	justify-self: stretch;
	align-self: stretch;
	border: 1px dotted var(--x-fg-disabled);
	pointer-events: none;
	position: relative;
	z-index: 3; /* span = 3, overlay = 2, guide = 1 */
}

.x-cssgrid-span-handle {
	pointer-events: all;
	position: absolute;
	width : 14px;
	height: 14px;
	padding: 5px;
	background-color: #888;
	background-clip: content-box;
}

:where(.x-cssgrid-span-handle)[side=top   ] { cursor: ns-resize; margin-top   : -5px; margin-left  : -7px; left: 50%; }
:where(.x-cssgrid-span-handle)[side=bottom] { cursor: ns-resize; margin-bottom: -7px; margin-left  : -7px; left: 50%; bottom: 0; }
:where(.x-cssgrid-span-handle)[side=left  ] { cursor: ew-resize; margin-left  : -6px; margin-top   : -7px; top : 50%; }
:where(.x-cssgrid-span-handle)[side=right ] { cursor: ew-resize; margin-right : -6px; margin-top   : -7px; top : 50%; right: 0; }

/* item overlays */

.x-cssgrid-item-overlay {
	background-color: #00000011;
	z-index: 2; /* span = 3, overlay = 2, guide = 1 */
}

.x-cssgrid-item-overlay.focused {
	background-color: #0000ff11;
}

.x-cssgrid-item-ph {
	/* enable this for debugging: */
	border: 1px dashed #aaa;
}

.x-cssgrid-moving { cursor: move; }

.x-cssgrid-span-move { border-color: #2a4; }
:where(.x-cssgrid-span-move) > .x-cssgrid-span-handle { background-color: #2a4; }

/* add button */

.x-cssgrid-add-button {
	position: absolute;
	color: var(--x-fg-disabled);
}
